@import '../../styles/css/font-awesome.min.css';
@import '../../styles/base.scss';
@import '../declares/p-button-declares.scss';

.p-button{
	display: inline-block;
	border-radius: 4px;
	outline: none;
	border:1px solid $defaultFontColor;
	color:$defaultFontColor;
	cursor: pointer;
	box-sizing: border-box;
	margin-left: 10px;
	font-size: $baseFontSize;
	padding: 12px 20px;
	transition: .1s;
	letter-spacing: 1;
	white-space: nowrap;
	line-height: 1;
	.fa{
		transform: scale(.8);
		width: $baseFontSize;
		height: $baseFontSize;
	}
	.p-btn-loading{
		animation-name: btn-loading;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		animation-duration: .5s;
	}
}
@keyframes btn-loading {
	from{
		transform:scale(.8) rotate(0deg);
	}
	to{
		transform:scale(.8) rotate(360deg);
	}
}
.p-button.is-round{
	border-radius: 200px;
}
.p-button.is-circle{
	border-radius: 50%;
	padding: 12px;
}
$buttonTypeMap:(
	default:(
		color:$defaultColor,
		borderColor:$defaultBorderColor,
		backgroundColor:$defaultBackgroundColor,
		hoverColor:$defaultHoverColor,
		hoverBorderColor:$defaultHoverBorderColor,
		hoverBackgroundColor:$defaultHoverBackgroundColor,
		activeColor:$defaultActiveColor,
		activeBorderColor:$defaultActiveBorderColor,
		activeBackgroundColor:$defaultActiveBackgroundColor,
		colorPlain:$defaultColorPlain,
		borderColorPlain:$defaultBorderColorPlain,
		backgroundColorPlain:$defaultBackgroundColorPlain,
		hoverColorPlain:$defaultHoverColorPlain,
		hoverBorderColorPlain:$defaultHoverBorderColorPlain,
		hoverBackgroundColorPlain:$defaultHoverBackgroundColorPlain,
		activeColorPlain:$defaultActiveColorPlain,
		activeBorderColorPlain:$defaultActiveBorderColorPlain,
		activeBackgroundColorPlain:$defaultActiveBackgroundColorPlain,
		disabledColor:$defaultDisabledColor,
		disabledBorderColor:$defaultDisabledBorderColor,
		disabledBackgroundColor:$defaultDisabledBackgroundColor,
		disabledColorPlain:$defaultDisabledColorPlain,
		disabledBorderColorPlain:$defaultDisabledBorderColorPlain,
		disabledBackgroundColorPlain:$defaultDisabledBackgroundColorPlain
	),
	primary:(
		color:$primaryColor,
		borderColor:$primaryBorderColor,
		backgroundColor:$primaryBackgroundColor,
		hoverColor:$primaryHoverColor,
		hoverBorderColor:$primaryHoverBorderColor,
		hoverBackgroundColor:$primaryHoverBackgroundColor,
		activeColor:$primaryActiveColor,
		activeBorderColor:$primaryActiveBorderColor,
		activeBackgroundColor:$primaryActiveBackgroundColor,
		colorPlain:$primaryColorPlain,
		borderColorPlain:$primaryBorderColorPlain,
		backgroundColorPlain:$primaryBackgroundColorPlain,
		hoverColorPlain:$primaryHoverColorPlain,
		hoverBorderColorPlain:$primaryHoverBorderColorPlain,
		hoverBackgroundColorPlain:$primaryHoverBackgroundColorPlain,
		activeColorPlain:$primaryActiveColorPlain,
		activeBorderColorPlain:$primaryActiveBorderColorPlain,
		activeBackgroundColorPlain:$primaryActiveBackgroundColorPlain,
		disabledColor:$primaryDisabledColor,
		disabledBorderColor:$primaryDisabledBorderColor,
		disabledBackgroundColor:$primaryDisabledBackgroundColor,
		disabledColorPlain:$primaryDisabledColorPlain,
		disabledBorderColorPlain:$primaryDisabledBorderColorPlain,
		disabledBackgroundColorPlain:$primaryDisabledBackgroundColorPlain
		
	),
	danger:(
		color:$dangerColor,
		borderColor:$dangerBorderColor,
		backgroundColor:$dangerBackgroundColor,
		hoverColor:$dangerHoverColor,
		hoverBorderColor:$dangerHoverBorderColor,
		hoverBackgroundColor:$dangerHoverBackgroundColor,
		activeColor:$dangerActiveColor,
		activeBorderColor:$dangerActiveBorderColor,
		activeBackgroundColor:$dangerActiveBackgroundColor,
		colorPlain:$dangerColorPlain,
		borderColorPlain:$dangerBorderColorPlain,
		backgroundColorPlain:$dangerBackgroundColorPlain,
		hoverColorPlain:$dangerHoverColorPlain,
		hoverBorderColorPlain:$dangerHoverBorderColorPlain,
		hoverBackgroundColorPlain:$dangerHoverBackgroundColorPlain,
		activeColorPlain:$dangerActiveColorPlain,
		activeBorderColorPlain:$dangerActiveBorderColorPlain,
		activeBackgroundColorPlain:$dangerActiveBackgroundColorPlain,
		disabledColor:$dangerDisabledColor,
		disabledBorderColor:$dangerDisabledBorderColor,
		disabledBackgroundColor:$dangerDisabledBackgroundColor,
		disabledColorPlain:$dangerDisabledColorPlain,
		disabledBorderColorPlain:$dangerDisabledBorderColorPlain,
		disabledBackgroundColorPlain:$dangerDisabledBackgroundColorPlain
	),
	warning:(
		color:$warningColor,
		borderColor:$warningBorderColor,
		backgroundColor:$warningBackgroundColor,
		hoverColor:$warningHoverColor,
		hoverBorderColor:$warningHoverBorderColor,
		hoverBackgroundColor:$warningHoverBackgroundColor,
		activeColor:$warningActiveColor,
		activeBorderColor:$warningActiveBorderColor,
		activeBackgroundColor:$warningActiveBackgroundColor,
		colorPlain:$warningColorPlain,
		borderColorPlain:$warningBorderColorPlain,
		backgroundColorPlain:$warningBackgroundColorPlain,
		hoverColorPlain:$warningHoverColorPlain,
		hoverBorderColorPlain:$warningHoverBorderColorPlain,
		hoverBackgroundColorPlain:$warningHoverBackgroundColorPlain,
		activeColorPlain:$warningActiveColorPlain,
		activeBorderColorPlain:$warningActiveBorderColorPlain,
		activeBackgroundColorPlain:$warningActiveBackgroundColorPlain,
		disabledColor:$warningDisabledColor,
		disabledBorderColor:$warningDisabledBorderColor,
		disabledBackgroundColor:$warningDisabledBackgroundColor,
		disabledColorPlain:$warningDisabledColorPlain,
		disabledBorderColorPlain:$warningDisabledBorderColorPlain,
		disabledBackgroundColorPlain:$warningDisabledBackgroundColorPlain
	),
	info:(
		color:$infoColor,
		borderColor:$infoBorderColor,
		backgroundColor:$infoBackgroundColor,
		hoverColor:$infoHoverColor,
		hoverBorderColor:$infoHoverBorderColor,
		hoverBackgroundColor:$infoHoverBackgroundColor,
		activeColor:$infoActiveColor,
		activeBorderColor:$infoActiveBorderColor,
		activeBackgroundColor:$infoActiveBackgroundColor,
		colorPlain:$infoColorPlain,
		borderColorPlain:$infoBorderColorPlain,
		backgroundColorPlain:$infoBackgroundColorPlain,
		hoverColorPlain:$infoHoverColorPlain,
		hoverBorderColorPlain:$infoHoverBorderColorPlain,
		hoverBackgroundColorPlain:$infoHoverBackgroundColorPlain,
		activeColorPlain:$infoActiveColorPlain,
		activeBorderColorPlain:$infoActiveBorderColorPlain,
		activeBackgroundColorPlain:$infoActiveBackgroundColorPlain,
		disabledColor:$infoDisabledColor,
		disabledBorderColor:$infoDisabledBorderColor,
		disabledBackgroundColor:$infoDisabledBackgroundColor,
		disabledColorPlain:$infoDisabledColorPlain,
		disabledBorderColorPlain:$infoDisabledBorderColorPlain,
		disabledBackgroundColorPlain:$infoDisabledBackgroundColorPlain
	),
	success:(
		color:$successColor,
		borderColor:$successBorderColor,
		backgroundColor:$successBackgroundColor,
		hoverColor:$successHoverColor,
		hoverBorderColor:$successHoverBorderColor,
		hoverBackgroundColor:$successHoverBackgroundColor,
		activeColor:$successActiveColor,
		activeBorderColor:$successActiveBorderColor,
		activeBackgroundColor:$successActiveBackgroundColor,
		colorPlain:$successColorPlain,
		borderColorPlain:$successBorderColorPlain,
		backgroundColorPlain:$successBackgroundColorPlain,
		hoverColorPlain:$successHoverColorPlain,
		hoverBorderColorPlain:$successHoverBorderColorPlain,
		hoverBackgroundColorPlain:$successHoverBackgroundColorPlain,
		activeColorPlain:$successActiveColorPlain,
		activeBorderColorPlain:$successActiveBorderColorPlain,
		activeBackgroundColorPlain:$successActiveBackgroundColorPlain,
		disabledColor:$successDisabledColor,
		disabledBorderColor:$successDisabledBorderColor,
		disabledBackgroundColor:$successDisabledBackgroundColor,
		disabledColorPlain:$successDisabledColorPlain,
		disabledBorderColorPlain:$successDisabledBorderColorPlain,
		disabledBackgroundColorPlain:$successDisabledBackgroundColorPlain
	),
	text:(
		color:$textColor,
		borderColor:$textBorderColor,
		backgroundColor:$textBackgroundColor,
		hoverColor:$textHoverColor,
		hoverBorderColor:$textHoverBorderColor,
		hoverBackgroundColor:$textHoverBackgroundColor,
		activeColor:$textActiveColor,
		activeBorderColor:$textActiveBorderColor,
		activeBackgroundColor:$textActiveBackgroundColor,
		colorPlain:$textColor,
		borderColorPlain:$textBorderColor,
		backgroundColorPlain:$textBackgroundColor,
		hoverColorPlain:$textHoverColor,
		hoverBorderColorPlain:$textHoverBorderColor,
		hoverBackgroundColorPlain:$textHoverBackgroundColor,
		activeColorPlain:$textActiveColor,
		activeBorderColorPlain:$textActiveBorderColor,
		activeBackgroundColorPlain:$textActiveBackgroundColor,
		disabledColor:$textDisabledColor,
		disabledBorderColor:$textDisabledBorderColor,
		disabledBackgroundColor:$textDisabledBackgroundColor,
		disabledColorPlain:$textDisabledColor,
		disabledBorderColorPlain:$textDisabledBorderColor,
		disabledBackgroundColorPlain:$textDisabledBackgroundColor
	)
);

@each $key,$value in $buttonTypeMap {
	.p-button-#{$key}{
		color: map-get($value,'color');
		background: map-get($value,'backgroundColor');
		border-color:map-get($value,'borderColor');
	}
	.p-button-#{$key}.is-disabled{
		color: map-get($value,'disabledColor');
		background: map-get($value,'disabledBackgroundColor');
		border-color:map-get($value,'disabledBorderColor');
		cursor: not-allowed;
	}
	.p-button-#{$key}:hover{
		color: map-get($value,'hoverColor');
		background: map-get($value,'hoverBackgroundColor');
		border-color:map-get($value,'hoverBorderColor');
	}
	.p-button-#{$key}.is-disabled:hover{
		color: map-get($value,'disabledColor');
		background: map-get($value,'disabledBackgroundColor');
		border-color:map-get($value,'disabledBorderColor');
	}
	.p-button-#{$key}:active{
		color: map-get($value,'activeColor');
		background: map-get($value,'activeBackgroundColor');
		border-color:map-get($value,'activeBorderColor');
	}
	.p-button-#{$key}.is-disabled:active{
		color: map-get($value,'disabledColor');
		background: map-get($value,'disabledBackgroundColor');
		border-color:map-get($value,'disabledBorderColor');
	}
	.p-button-#{$key}.is-plain{
		color: map-get($value,'colorPlain');
		background: map-get($value,'backgroundColorPlain');
		border-color:map-get($value,'borderColorPlain');
	}
	.p-button-#{$key}.is-disabled.is-plain{
		color: map-get($value,'disabledColorPlain');
		background: map-get($value,'disabledBackgroundColorPlain');
		border-color:map-get($value,'disabledBorderColorPlain');
	}
	.p-button-#{$key}.is-plain:hover{
		color: map-get($value,'hoverColorPlain');
		background: map-get($value,'hoverBackgroundColorPlain');
		border-color:map-get($value,'hoverBorderColorPlain');
	}
	.p-button-#{$key}.is-disabled.is-plain:hover{
		color: map-get($value,'disabledColorPlain');
		background: map-get($value,'disabledBackgroundColorPlain');
		border-color:map-get($value,'disabledBorderColorPlain');
	}
	.p-button-#{$key}.is-plain:active{
		color: map-get($value,'activeColorPlain');
		background: map-get($value,'activeBackgroundColorPlain');
		border-color:map-get($value,'activeBorderColorPlain');
	}
	.p-button-#{$key}.is-disabled.is-plain:active{
		color: map-get($value,'disabledColorPlain');
		background: map-get($value,'disabledBackgroundColorPlain');
		border-color:map-get($value,'disabledBorderColorPlain');
	}
	.p-button-#{$key}.is-loading{
		color: map-get($value,'disabledColor');
		background: map-get($value,'disabledBackgroundColor');
		border-color:map-get($value,'disabledBorderColor');
	}
	.p-button-#{$key}.is-plain.is-loading{
		color: map-get($value,'disabledColor');
		background: map-get($value,'disabledBackgroundColor');
		border-color:map-get($value,'disabledBorderColor');
	}
}


.p-button-size-medium{
	padding: 10px 20px;
	font-size: $mediumFontSize;
	.fa{
		width: $mediumFontSize;
		height: $mediumFontSize;
	}
}
.p-button-size-medium.is-circle{
	padding: 10px;
	border-radius: 50%;
	
}
.p-button-size-small{
	padding: 9px 15px;
	font-size: $smallFontSize;
	.fa{
		width: $smallFontSize;
		height: $smallFontSize;
	}
}
.p-button-size-small.is-circle{
	padding: 9px;
	border-radius: 50%;
}
.p-button-size-mini{
	padding: 7px 12px;
	font-size: $miniFontSize;
	.fa{
		width: $miniFontSize;
		height: $miniFontSize;
	}
}
.p-button-size-mini.is-circle{
	padding: 7px;
	border-radius: 50%;
}