$whitFontColor:#fff;
$defaultColor:#606266;
$defaultBorderColor:#dcdfe6;
$defaultBackgroundColor:#fff;
$defaultHoverBackgroundColor:#ecf5ff;
$defaultHoverBorderColor:#c6e2ff;
$defaultHoverColor:#409eff;
$defaultActiveColor:#3a8ee6;
$defaultActiveBackgroundColor:$defaultHoverBackgroundColor;
$defaultActiveBorderColor:#3a8ee6;

$primaryBackgroundColor:$primary;
$primaryColor:$whitFontColor;
$primaryBorderColor:$primary;
$primaryHoverBackgroundColor:#66b1ff;
$primaryHoverBorderColor:#66b1ff;
$primaryHoverColor:$whitFontColor;
$primaryActiveBackgroundColor:#3a8ee6;
$primaryActiveBorderColor:#3a8ee6;
$primaryActiveColor:$whitFontColor;

$successColor:$whitFontColor;
$successBackgroundColor:$success;
$successBorderColor:$success;
$successHoverBackgroundColor:#85ce61;
$successHoverBorderColor:#85ce61;
$successHoverColor:$whitFontColor;
$successActiveColor:$whitFontColor;
$successActiveBackgroundColor:#5daf34;
$successActiveBorderColor:#5daf34;

$warningColor:$whitFontColor;
$warningBackgroundColor:$warning;
$warningBorderColor:$warning;
$warningHoverBackgroundColor:#ebb563;
$warningHoverBorderColor:#ebb563;
$warningHoverColor:$whitFontColor;
$warningActiveColor:$whitFontColor;
$warningActiveBackgroundColor:#cf9236;
$warningActiveBorderColor:#cf9236;

$dangerColor:$whitFontColor;
$dangerBackgroundColor:$danger;
$dangerBorderColor:$danger;
$dangerHoverBackgroundColor:#f78989;
$dangerHoverBorderColor:#f78989;
$dangerHoverColor:$whitFontColor;
$dangerActiveColor:$whitFontColor;
$dangerActiveBackgroundColor:#dd6161;
$dangerActiveBorderColor:#dd6161;

$infoColor:$whitFontColor;
$infoBackgroundColor:$info;
$infoBorderColor:$info;
$infoHoverBackgroundColor:#a6a9ad;
$infoHoverBorderColor:#a6a9ad;
$infoHoverColor:$whitFontColor;
$infoActiveColor:$whitFontColor;
$infoActiveBackgroundColor:#82848a;
$infoActiveBorderColor:#82848a;

$textColor:#409eff;
$textBackgroundColor:rgba(0,0,0,0);
$textBorderColor:rgba(0,0,0,0);
$textHoverBackgroundColor:rgba(0,0,0,0);
$textHoverBorderColor:rgba(0,0,0,0);
$textHoverColor:#66b1ff;
$textActiveColor:#3a8ee6;
$textActiveBackgroundColor:rgba(0,0,0,0);
$textActiveBorderColor:rgba(0,0,0,0);

$defaultColorPlain:#606266;
$defaultBorderColorPlain:#dcdfe6;
$defaultBackgroundColorPlain:#fff;
$defaultHoverBackgroundColorPlain:#fff;
$defaultHoverBorderColorPlain:#409eff;
$defaultHoverColorPlain:#409eff;
$defaultActiveColorPlain:#3a8ee6;
$defaultActiveBackgroundColorPlain:$defaultHoverBackgroundColor;
$defaultActiveBorderColorPlain:#3a8ee6;

$primaryBackgroundColorPlain:#ecf5ff;
$primaryColorPlain:#409eff;
$primaryBorderColorPlain:#b3d8ff;
$primaryHoverBackgroundColorPlain:#409eff;
$primaryHoverBorderColorPlain:#409eff;
$primaryHoverColorPlain:$whitFontColor;
$primaryActiveBackgroundColorPlain:#3a8ee6;
$primaryActiveBorderColorPlain:#3a8ee6;
$primaryActiveColorPlain:$whitFontColor;

$successColorPlain:#67c23a;
$successBackgroundColorPlain:#f0f9eb;
$successBorderColorPlain:#c2e7b0;
$successHoverBackgroundColorPlain:#67c23a;
$successHoverBorderColorPlain:#67c23a;
$successHoverColorPlain:$whitFontColor;
$successActiveColorPlain:$whitFontColor;
$successActiveBackgroundColorPlain:#5daf34;
$successActiveBorderColorPlain:#5daf34;

$warningColorPlain:#e6a23c;
$warningBackgroundColorPlain:#fdf6ec;
$warningBorderColorPlain:#f5dab1;
$warningHoverBackgroundColorPlain:#e6a23c;
$warningHoverBorderColorPlain:#e6a23c;
$warningHoverColorPlain:$whitFontColor;
$warningActiveColorPlain:$whitFontColor;
$warningActiveBackgroundColorPlain:#cf9236;
$warningActiveBorderColorPlain:#cf9236;

$dangerColorPlain:#f56c6c;
$dangerBackgroundColorPlain:#fef0f0;
$dangerBorderColorPlain:#fbc4c4;
$dangerHoverBackgroundColorPlain:#f56c6c;
$dangerHoverBorderColorPlain:#f56c6c;
$dangerHoverColorPlain:$whitFontColor;
$dangerActiveColorPlain:$whitFontColor;
$dangerActiveBackgroundColorPlain:#dd6161;
$dangerActiveBorderColorPlain:#dd6161;

$infoColorPlain:#909399;
$infoBackgroundColorPlain:#f4f4f5;
$infoBorderColorPlain:#d3d4d6;
$infoHoverBackgroundColorPlain:#909399;
$infoHoverBorderColorPlain:#909399;
$infoHoverColorPlain:$whitFontColor;
$infoActiveColorPlain:$whitFontColor;
$infoActiveBackgroundColorPlain:#82848a;
$infoActiveBorderColorPlain:#82848a;