$primary:#409EFF;
$warning:#E6A23C;
$danger:#F56C6C;
$default:#FFFFFF;
$info:#909399;
$success:#67C23A;
$defaultFontColor:#222;
$baseFontSize:14px;
.fa{
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: baseline;
	display: inline-block;
}